.App {
  text-align: center;

}

.List{
  font-size: 25px;
}

button {
  margin: 20px;
  padding: 5px;
}

fieldset{
  border-width: 0px;
}

h3:hover ~ .database{
    display: block;

}
.database{
  display: none;
  list-style: none;
  font-size: medium;
  
  width: 400px;
  align-items: left;
  margin:0;

  padding:0;
  text-indent:10px;
  background-color: rgb(230, 226, 222);
  
  font-size: 15px;
}

.Homepage{
  background-image: url("images.jpg");
  background-size: cover;
  width: 1550px;
  height: 450px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color:rgba(49, 33, 33, 0.788);
  padding: 5px;

}

.Recipes {
  color: black; 
  font-size: calc(20px + 2vmin);

}

.ingredientlist {
  padding-left: 220px;
  max-width: 400px;
  max-height: 500px;
  overflow:scroll;
  scrollbar-length: ;
}

.Shoppinglist {
  
  background-image: url("image.jpg");
  background-size: cover;
  height: 750px;
  width: 790px;
  padding-left: 760px;
  padding-top: 10px;
  font: italic 1.2em "Courier New";
  padding-bottom: 20px;
 
}

.title{
  margin-top: 100px;
  
}





.App-link {
  color: #0cacd8;
}

h1 {
  margin-top: 0%;
  font-size: calc(40px + 2vmin);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(235, 224, 224);
}

img {
  height: 150px;
  width: 200px;
}

a {
  font-size: 20px;
}


